.login button {
    display: block;
    margin: auto;
    width: 30%;
    height: px;
    background-color: rgb(160, 13, 13);
    text-decoration: none;
}
.login a{
    color: white;
    font-size: 1vw;
    text-decoration: none;
}
.login :hover{
    transform: scale(1.2);
}